<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>erro404</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&display=swap"
        rel="stylesheet">
</head>
<body>
    <main class="container">
        <div class="error">
            <p>Opss.. Algo deu Errado!</p>
            <a href="/"> <button>Voltar ao Início</button></a>
        </div>
    </main>
</body>
</html>