<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="/js/hoverEffect.js" defer></script>
    <script src="/js/buttonEffect.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>GrupoFreitas | Login</title>
</head>

<body>
    <div class="container">
        <main>
            <div class="box-text">
                <div class="box-items"></div>
            </div>
            <div class="box-login">
                <div class="box-text-login">
                    <div class="login-top">
                        <img src="/images/logo.png" alt="">
                        <h2>Grupo<span>Freitas</span></h2>
                    </div>
                    <form action="" method="POST">
                        <input type="text" name="login" placeholder="Login">
                        <input type="password" name="password" placeholder="Senha">
                        <input type="submit" id="button" placeholder="Acessar" onmouseleave="buttonEffect()">
                    </form>
                    <div class="register">
                        <p>Não tem uma conta?<span><a href="/cadastro">  Registre-se</a> </span> </p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>