<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e63f6a9c54.js" crossorigin="anonymous"></script>
    <script src="/public/js/placeHolder.js" defer></script>
    <link rel="stylesheet" href="/css/dashboard2.css">
    <link rel="stylesheet" href="/css/comments.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&display=swap"
        rel="stylesheet">

</head>

<body>
    <main class="container">
        <div class="header">
            <div class="logoFreitas">
                <img src="/public/img/rocket.png" alt="">
            </div>
            <div class="itens">
                <ul>
                    <li><a href="/public/html/index.html"><i class="fas fa-home"></i></a></li>
                    <li><a href="/public/html/explore.html"><i class="fas fa-search"></i></a></li>
                    <li><a href="/public/html/favorites.html"><i class="far fa-bookmark"></i></a></li>
                    <li><a href="/public/html/profile.html"><i class="far fa-user"></i></a></li>
                    <li><a href="/public/html/users.html"><i class="far fa-address-book"></i></a></li>
                    <li><a href=""><i class="fas fa-power-off"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="pub-coment-container">
            <div class="pubComent">
                <div class="imgComent">
                    <img src="/public/img/pubExample.png" alt="">
                </div>
                <div class="usersComent">
                    <div class="headerComent">
                        <div class="soHeader">
                            <div class="avatarHeader">
                                <img src="/public/img/icon.svg" alt="">
                            </div>
                            <div class="infoHeader">
                                <div id="tite">
                                    <p>Eduardo Zuppo <span>@ezuppo</span></p>
                                </div>
                                <div id="hour">
                                    <p>12h</p>
                                </div>
                            </div>
                        </div>
                        <div class="soDesc">
                            <div class="descText">
                                <p>A narração tem a função dea contar uma história, o narrador desenvolve e nos
                                    apresenta os personagens com uma ação que ocorre no tempo. É muito fácil identificar
                                    e desenvolver um texto narrativo, pois ele possui uma estrutura bem definida e
                                    simples.</p>
                            </div>
                        </div>
                    </div>
                    <div class="allComents">
                        <div class="infocoment">
                            <div class="img-coment">
                                <img src="/public/img/icon.svg" alt="">
                            </div>
                            <div class=area-text>
                                <div class="info">
                                    <p>@ezuppo</p>
                                </div>
                                <div class="comentInfo">
                                    <p>Não sei oq, não sei oq la nalsd</p>
                                </div>
                            </div>
                        </div>
                        <div class="infocoment">
                            <div class="img-coment">
                                <img src="/public/img/icon.svg" alt="">
                            </div>
                            <div class=area-text>
                                <div class="info">
                                    <p>@ezuppo</p>
                                </div>
                                <div class="comentInfo">
                                    <p>Não sei oq, não sei oq la nalsd</p>
                                </div>
                            </div>
                        </div>
                        <div class="infocoment">
                            <div class="img-coment">
                                <img src="/public/img/icon.svg" alt="">
                            </div>
                            <div class=area-text>
                                <div class="info">
                                    <p>@ezuppo</p>
                                </div>
                                <div class="comentInfo">
                                    <p>Não sei oq, não sei oq la nalsd</p>
                                </div>
                            </div>
                        </div>
                        <div class="infocoment">
                            <div class="img-coment">
                                <img src="/public/img/icon.svg" alt="">
                            </div>
                            <div class=area-text>
                                <div class="info">
                                    <p>@ezuppo</p>
                                </div>
                                <div class="comentInfo">
                                    <p>Não sei oq, não sei oq la nalsdNão sei oq, não sei oq la nalsdNão sei oq, não sei
                                        oq la nalsdNão sei oq, não sei oq la nalsd</p>
                                </div>
                            </div>
                        </div>
                        <div class="infocoment">
                            <div class="img-coment">
                                <img src="/public/img/icon.svg" alt="">
                            </div>
                            <div class=area-text>
                                <div class="info">
                                    <p>@ezuppo</p>
                                </div>
                                <div class="comentInfo">
                                    <p>Não sei oq, não sei oq la nalsd</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="areaComent">
                        <div>
                            <div class="textComent">
                                <div class="textareaComent">
                                    <form action=""><textarea name="coment" id="comenttext" cols="30" rows="10"
                                            placeholder="Adicione um comentário..."></textarea></form>
                                </div>
                                <div class="buttonComent">
                                    <button>Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="postName">
            <div class="lineDiv">
                <p>Mais publicações de <a href="/public/html/">Eduardo Zuppo</a></p>
            </div>
        </div>
        <div class="recentPost">
            <div class="pubs">
                <div class="pubRecent">
                    <a href=""><img src="/public/img/pubExample.png" alt=""></a>
                </div>
                <div class="pubRecent">
                    <a href=""><img src="/public/img/pubExample.png" alt=""></a>
                </div>
                <div class="pubRecent">
                    <a href=""><img src="/public/img/pubExample.png" alt=""></a>
                </div>
                <div class="pubRecent">
                    <a href=""><img src="/public/img/pubExample.png" alt=""></a>
                </div>
                <div class="pubRecent">
                    <a href=""><img src="/public/img/pubExample.png" alt=""></a>
                </div>
                <div class="pubRecent">
                    <a href=""><img src="/public/img/pubExample.png" alt=""></a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>